<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="../img/favicon-FINAL.png">

    <title>#calexit</title>
    <meta name="description" content="California residents are so distraught over Donald Trump's election to the White House, some are considering leaving the United States to form their own republics. We call it #calexit!" />
    <meta name="keywords" content="calexit, trump, calexit meaning, what is calexit, donald trump, california exit, california secession, brexit, cnn, RISING, california,Breakout trump, Breakout, what is calexit, Breakout, donald trump, Breakout, california exit ,Breakout, california secession,Breakout brexit, Breakout cnn, Breakout"
    />

    <meta property="og:title" content="#calexit" />
    <meta property="og:url" content="http://www.calexit-2019.com" />
    <met></met>a property="og:image" content="http://static5.businessinsider.com/image/582368ed46e27a18048b5baa-480/california-students-protest-trump-presidency.jpg" />
    <link rel="canonical" href="http://www.calexit-2019.com" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,700,800">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/bootstrap-material-design.min.css">

    <link rel="stylesheet" href="/bower_components/animate.css/animate.css">

    <!--
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/universal/parallax.min.js"></script>
    <script src="../js/universal/modernizr.custom.min.js"></script>
    -->

    <!-- <link rel="stylesheet" href="../css/stash.css"> -->
    <!-- <link rel="stylesheet" href="../css/inject.css"> -->
    <!-- <link rel="stylesheet" href="../css/glass.css"> -->
    <!-- <link rel="stylesheet" href="../css/menu.css"> -->

    <link rel="stylesheet" href="../dist/css/main.min.css">

</head>

<body ng-app="main">
    <span id="wts1343830" class="the_other_hide"></span>
    <div class="bodyWrapper">
        <div class="background_overlay">
            <inject></inject>
        </div>
    </div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script src="/bower_components/bootstrap-material-design/dist/bootstrap-material-design.min.js"></script> -->

<!-- ANGULAR IMPORTS -->
<script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script> -->

<script src="../js/ng/main.js" type="text/javascript"></script>
<!-- <script src="../js/ng/directives/alloyDirective.js"></script>
    <script src="../js/ng/controllers/alloyController.js"></script>
    <script src="../js/ng/services/alloyService.js"></script> -->
<script src="../js/scripts.js"></script>

<!-- 000000000000 -->
<!-- 000000000000 -->

<!-- <script src="../dist/js/ng/init.min.js"></script> -->
<script src="../dist/js/ng.js"></script>

<!-- 000000000000 -->
<!-- 000000000000 -->
<!-- ANGULAR IMPORTS -->

<!-- _DASH -->
<script src="/bower_components/ng-lodash/build/ng-lodash.min.js"></script>
<!-- _DASH -->

<!-- Begin Web-Stat code v 6.2 -->
<script type="text/javascript">
    var wtsh = {};
    wtsh['invisible'] = 'yes';
    wtsh['text_counter'] = '#';
    wtsh['page_name'] = '#';
    wtsh['page_group'] = '#';
    wtsh['conversion_number'] = '#';
    wtsh['custom'] = '#';
    var wts = document.createElement('script');
    wts.type = 'text/javascript';
    wts.async = true;
    wts.src = ('https:' == document.location.protocol ?
        'https://server2' :
        'http://lb') + '.web-stat.com/1/1343830/log6_2.js';
    document.getElementById('wts1343830').appendChild(wts);
</script>
<noscript>
        <a href="http://www.web-stat.com">
            <img src="//server2.web-stat.com/6/1/1343830.gif" style="border:0px;" alt=""></a>
    </noscript>
<!-- End Web-Stat code v 6.2 -->

</html>