<!DOCTYPE html>
<html lang="en">

<head>
    <title>#mmg</title>
    <meta charset="UTF-8">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="../img/favicon-FINAL.png">
    <meta name="description" content="California residents are so distraught over Donald Trump's election to the White House, some are considering leaving the United States to form their own republics. We call it #calexit!" />
    <meta name="keywords" content="calexit, trump, calexit meaning, what is calexit, donald trump, california exit, california secession, brexit, cnn, RISING, california,Breakout trump, Breakout, what is calexit, Breakout, donald trump, Breakout, california exit ,Breakout, california secession,Breakout brexit, Breakout cnn, Breakout" />
    <meta property="og:title" content="#calexit" />
    <meta property="og:url" content="http://www.calexit-2019.com" />
    <meta property="og:image" content="http://static5.businessinsider.com/image/582368ed46e27a18048b5baa-480/california-students-protest-trump-presidency.jpg" />
    <link rel="canonical" href="http://www.calexit-2019.com" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,700,800">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- 
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/universal/parallax.min.js"></script>
    <script src="../js/universal/modernizr.custom.min.js"></script>
    -->
    <link rel="stylesheet" href="../css/main.css">
    <!--JQUERY IMPORTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- JQUERY IMPORTS -->
</head>

<body ng-app="main">
    <div class="bodyWrapper">
        <div class="background_overlay ">
            <inject></inject>
        </div>
    </div>
</body>
<!-- BOOTSTRAP IMPORTS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- BOOTSTRAP IMPORTS -->
<!-- ANGULAR IMPORTS -->
<script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<!-- Angular Material Library -->
<!-- <script src="../js/app.js"></script> -->
<!-- ANGULAR IMPORTS -->
<!-- _DASH -->
<script src="/bower_components/ng-lodash/build/ng-lodash.min.js"></script>
<!-- _DASH -->
<script src="../js/ng/main.js" type="text/javascript"></script>
<script src="../js/ng/directives/alloyDirective.js"></script>
<script src="../js/ng/controllers/alloyController.js"></script>
<script src="../js/ng/services/alloyService.js"></script>

</html>
