.display_flex {
    display: flex;
}

.flex-item-center {
    align-items: center;
    justify-content: center;
}

.bodyWrapper:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -100;
    display: block;
    background-image: url('https://cdn3.vox-cdn.com/uploads/chorus_asset/file/4387649/Golden-Gate-Bridge_-San-Francisco_-CA.-Creative-Commons-by-Thomas-Hawk..0.jpg');
    width: 100%;
    height: 100vh;
    /*background-size: cover;*/
    background-position: 100% 50%;
}

.bodyWrapper {
    position: relative;
    z-index: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: #1e5799;
    align-items: center;
    margin: 0 auto;
    text-shadow: 0 10px 30px rgba(0, 0, 0, .25);
    word-wrap: break-word;
}

.navWrapper {
    padding: 20px 0px 100px;
}

.hamburger-menu {
    font-size: 25px;
    cursor: pointer;
    color: #000;
    border: 1px solid #fff;
    padding: 3px;
    background-color: #fff;
}


/*090909090909*/


/*090909090909*/


/*090909090909*/

.navbar-toggle {
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 28px 6px 10px;
    padding: 12px 14px;
    border: 2px solid black;
    color: #000;
}

.btn-navbar:hover {
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    border: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-top: 23px;
}

.btn.btn-primary {
    color: #fff;
}

.btn.btn-primary:focus {
    color: #fff;
}

.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle:hover {
    color: #fff;
}