<div class="">
    <div class="container-fluid">
        <div class="navWrapper">
            <button class="hamburger hamburger-menu" type="button" ng-click="openNav()">
                <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <div class="secretNavWrapper">
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
                <div class="overlay-content">
                    <p>
                        Developed by
                        <a href="http://www.losethequit.me">Losethequit</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="stats_container">
            <div class="card">
                <div class="stats_container">
                    <div class="col-md-12 padding_0">
                        <div class="row">
                            <div class="col-md-12 col-xs-push-12">
                                <div class="col-md-12 card-row-data" ng-repeat="slot in items">
                                    <button class="col-md-12 col-xs-12 btn ghost-botton vote-button" ng-click="open('lg');">
                                        <p class="robotoh4" ng-click="
                                        selected[$index].item = slot.time; 
                                        items[$index].taken = true; 
                                     
                                         selected[$index].index = $index; " ng-class="items[$index].taken ? 'bgRed' : 'bgBlue'">{{slot.time}}</p>
                                    </button>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="col-md-4 poll-response col-xs-pull-12 padding_0">
                                            <div class="col-md-12 col-sm-12 col-xs-12 display_flex  flex-item-center">
                                                <!-- {{selected[$index]}} -->
                                                <!-- <br> {{selected}} -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div ng-repeat="slot in timeSlots"> -->
            <!-- </div> -->
        </div>
    </div>
</div>
