<div class="">

    <div class="container-fluid">
        <div class="navWrapper">
            <!--<span class="hamburger-menu" ng-click="openNav()">&#9776;
                    <span class="hamburger-inner"></span>
            </span>-->
            <button class="hamburger hamburger-menu" type="button" ng-click="openNav()">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
            </button>
        </div>

        <div class="secretNavWrapper">
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
                <div class="overlay-content">
                    <p>
                        Developed by
                        <a href="http://www.losethequit.me">Losethequit</a>
                    </p>

                    <!-- <a href="#">Services</a> -->
                    <!-- <a href="#">Clients</a> -->

                </div>
            </div>
        </div>



        <div class="full-page-container">

            <!--screen-1-->

            <div class="col-md-12">
                <h3 class="robotoh4"><span class="text_red_glaze">When they go right,</span> <span class="text_blue_glaze">we go left!</span></h3>
                <h1 class="jumbo_text">#calexit</h1>

                <input type="text" class="form-control del hide" ng-model="voteQuery" ng-change="getVoteWithQuery(voteQuery)" />
                <button class="btn btn-primary del hide" ng-click="deleteAll()">
                 Del
            </button>
                <div class="footer">
                    <a class="ghost-botton ghost-botton--scroll" href="#stats_container" class="footer_link">
                        <!--&#9660;-->
                        V
                    </a>
                </div>

            </div>

        </div>

        <div class="col-md-12" id="stats_container">
            <div class="card">

                <div class="stats_container">

                    <div class="col-md-12 padding_0">
                        <div class="row">

                            <div class="col-md-8 col-xs-push-12">

                                <h1 class="robotoh1">Total Votes: <span class="robotoh2">{{totalAmountOfItemsInThisColletection}}</span>
                                </h1>
                                <div class="col-lg-12 col-md-6 col-xs-12">
                                    <!--<span class="robotoh2">{{totalAmountOfItemsInThisColletection}}</span>-->
                                </div>
                            </div>
                            <div class="col-md-4 poll-response col-xs-pull-12 padding_0">
                                <div class="col-md-12 col-sm-12 col-xs-12 display_flex  flex-item-center">
                                    <button type="submit" class="btn ghost-botton vote-button" id="myBtn">Vote Now</button>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-xs-6">
                                    <p class="robotoh5">for: {{totalYES}}</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6">
                                    <p class="robotoh5">against: {{totalNO}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">

                            </div>
                        </div>



                        <div class="col-md-12 card-row-data" ng-repeat="vote in ballotBoxFINAL">
                            <div class="col-md-6 col-xs-12">
                                <p class="robotoh4">{{vote.data.state}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <p class="robotoh5 text_blue_glaze">{{vote.data.yes}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <p class="robotoh5 text_red_glaze">{{vote.data.no}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="pieChart"></div>

        <!--<div class="svgContainer">

        </div>-->

        <!--<div class="full-page-container screen-2" id="screen-2">-->

        <!--<div class="col-md-12">
            <div class="card">
                <h1>#1</h1>
                <div class="col-md-12">
                    <div class="callout">Transluecent Border</div>
                    <div class="redBox redBox-translucent">HELLO THERE</div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card inner-rounding">
                <div class="">
                    <h1>#4</h1>
                    <p> I have a nice subtle inner rounding!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="">
                    <h1>#10</h1>
                    <div class="skew-button">
                        <div>
                            skew-button
                        </div>
                    </div>
                </div>
            </div>
        </div>-->



    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form name="voteForm" ng-submit="submitForm()" novalidate>
            <span class="close close-x">x</span>
            <p>CAST YOUR VOTE!</p>
            <div class="col-md-12 col-sm-12 col-xs-12 display_flex flex-item-center flex-direction-column padding_0">
                <div class="col-md-12 col-sm-6 col-xs-6 display_flex flex-item-center padding_0">
                    <h1 class="robotoh7">Would you allow California to secede from the Union?</h1>
                </div>
                <div class="col-md-12 col-sm-6 col-xs-6 display_flex flex-item-center">


                    <select class="ghost-botton ghost-botton--state-select display_flex flex-item-center" ng-model="question_1" required ng-options="state.name for state in statesArr">
                                                        <option value=""  class="text-center" disabled selected >Select State</option>
                                                  </select>


                </div>

                <div class="col-md-12 col-sm-6 col-xs-6 display_flex  flex-item-center">
                    <button type="submit" class="btn ghost-botton ghost-btn" ng-disabled="voteForm.$invalid" ng-click="addVoteFromForm('yes')">Yes</button>
                    <button type="submit" class="btn ghost-botton ghost-btn" ng-disabled="voteForm.$invalid" ng-click="addVoteFromForm('no')">No</button>
                </div>

            </div>
        </form>
    </div>
</div>
<!-- The Modal -->

<!--<form name="voteForm" ng-submit="submitForm()" novalidate>

    <div class="col-md-12 col-sm-12 col-xs-12 display_flex flex-item-center flex-direction-column poll_container padding_0">

        <div class="col-md-12 col-sm-6 col-xs-6 display_flex flex-item-center padding_0">
            <h1 class="robotoh7">Would you allow California to secede from the Union?</h1>
        </div>

        <div class="col-md-12 col-sm-6 col-xs-6 display_flex flex-item-center">


            <select class="ghost-botton ghost-botton--state-select display_flex flex-item-center" ng-model="question_1" required ng-options="state.name for state in statesArr">
                        <option value=""  class="text-center" disabled selected >Select State</option>
                    </select>


        </div>

        <div class="col-md-12 col-sm-6 col-xs-6 display_flex  flex-item-center">
            <button type="submit" class="btn ghost-botton" ng-disabled="voteForm.$invalid" ng-click="addVoteFromForm('yes')">Yes</button>
            <button type="submit" class="btn ghost-botton" ng-disabled="voteForm.$invalid" ng-click="addVoteFromForm('no')">No</button>
        </div>

    </div>

</form>-->